<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relecloud</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>Available cruises</h1>
    <div id="app">
        <div v-for="(cruise, index) in cruises" :key="index">
            {{ cruise.name }}
            <button v-show="cruise.seatsAvailable">
                <span v-if="cruise.earlyBirdAvailable">Book early bird!</span>
                <span v-else>Book now!</span>
            </button>
        </div>
    </div>
    <!-- add in Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const App = {
            data() {
                return {
                    cruises: [
                        {
                            seatsAvailable: true,
                            earlyBirdAvailable: true,
                            name: 'Cruise to the moon'
                        },
                        {
                            seatsAvailable: false,
                            earlyBirdAvailable: true,
                            name: 'Cruise to Mars'
                        },
                        {
                            seatsAvailable: true,
                            earlyBirdAvailable: false,
                            name: 'Cruise to the asteroid belt'
                        },
                    ]
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>